{%  extends 'base.html.twig' %}

{% block title %} Homepage Stronghold Technical Test {% endblock %}

{% block body %}

<img src="https://strongholdam.com/wp-content/uploads/2020/12/logo-stronghold.png" class="attachment-large size-large" alt="Logo Stronghold" loading="lazy" width="494" height="85">

    <h1> Stronghold Technical Test 2022 </h1>
    <u1 class="'menu">
        <li><a href="{{ "/projects/add" }}">Add a new project</a></li>
        <li><a href="{{ "/projects" }}">All Projects</a></li>
        <li><a href="{{ "/projects/show/total" }}">Totals</a></li>
    </u1>

{% endblock %}